
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Dancing+Script:wght@400..700&family=Ga+Maamli&family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Krona+One&family=Kumar+One+Outline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Carian&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Doodle+Triangles&display=swap');/*Cambiar el color y fuente de manera global*/
:root {
--color-title: #135D66;
--color-buttons:#C75B7A;
--color-container:#F1D3CE;
--color-hover:#758694;
--color-footer:#fff;
--fuente-Montserrat:'Montserrat', sans-serif ;
--fuente-cursiva:  "Grey Qo", cursive;
}

* {
    padding: 0;
    margin: 0;
    /* asegura que el padding y el borde se incluyan en el ancho y alto total de los elementos, lo que facilita el control del diseño.*/
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/pexels-stywo-1261728.jpg');
    background-size: cover;
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    display: flex;
    /*Centra el contenido horizontalmente*/
    justify-content: center;
    /* centra el contenido verticalmente dentro del contenedor*/
    align-items: center;
    /*Altura de nuestra pagina*/
    height: 100vh;
    margin: 0;
    /*Agrega un espacio interior en los bordes del body, en este caso no deseo que tenga ya que quiero que el footer abarque toda la parte inferior.*/
    padding: 0px;
    flex-direction: column;
}

.container {
    background-color: var(--color-container);
    /*40px en la parte superior e inferior y 30px en los laterales.*/
    padding: 35px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin-top: auto; 
}

h1 {
    font-family:var(--fuente-cursiva);
    font-size: 90px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: var(--color-title);
    text-shadow: #508C9B); /* Sombra suave en el texto */
    transition: text-shadow 0.5s ease-in-out;
}

h1:hover {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada al pasar el mouse */
}

.recomendacion {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}
.recomendacion i {
    margin-right: 10px; /* Añade un espacio entre el ícono y el texto */
    color: #7c7a7a; /* Cambia el color del ícono */
    font-size: 20px;  /* Cambia el tamaño del ícono */
}


textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    resize: none;
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: var(--color-focus);
    outline: none;
}

textarea#outputText {
    background-color: #f7f7f7;
    border-color: #ddd;
    margin-top: 20px; /* Añade espacio encima del textarea */

 }

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;  /* Añade espacio debajo de los botones */
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-buttons);
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 100%;
    height: 70%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: var(--color-hover);
}

button:active {
    transform: scale(0.98);
}

.footer {
background-color: var(--color-buttons);
padding: 20px;
color: var(--color-footer);
text-align: center; /*Centra horizontalmente*/
font-family:var(--fuente-cursiva);
font-size: 50px;
font-weight: 400;
position: relative;
width: 100%;
bottom: 0;
margin-top: auto; /* Empuja el footer al final de la página */
}

@media (max-width: 1000px){
    .header{
    padding: 20%;
    }

    .container{
      /*Centrar horizontalmente*/
        justify-content:center;
        flex-direction: column-reverse;
        padding: 5%;
        width: auto;
    }
}
